body {
  background-color: lightCyan;
}

hr {
  background-color: lightCyan;
  border-style: dotted none none;
  width: 10%;
  border-width: 5px;
  border-color: grey;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #2F5D62;
}
